@{
    ViewBag.Title = "Home Page";
}

<!--Main Slider-->
<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/v1-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/Content/images/slides/v1-1.jpg">


                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-20','-20','-15','-20']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="big-title2">
                                Settle Down with<br> Full House Movies<br> <span>Without Buffer.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['165','145','120','100']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="btn-box">
                                <a class="btn-one" href="#">Discover More</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/v1-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/Content/images/slides/v1-2.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-20','-20','-15','-20']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="big-title2">
                                Best Internet Packages<br> To enjoy with whole<br> <span>Family.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['165','145','120','100']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="btn-box">
                                <a class="btn-one" href="#">See Packages</a>
                            </div>
                        </div>
                    </div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1691" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/v1-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/Contentimages/slides/v1-3.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-20','-20','-15','-20']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="big-title2">
                                Do not worry<br> With bad telephone<br> <span>Connection.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['800','700','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['165','145','120','100']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content left-slide">
                            <div class="btn-box">
                                <a class="btn-one" href="#">Get Information</a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->
<!--Start Video Gallery Area-->
<section class="video-gallery-area">
    <div class="sec-title text-center">
        <h6>We are best and reliable</h6>
        <div class="title">When We Measure our Network to<br> Homes, We're 99.98% Reliable</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-holder-box">
                    <div class="img-holder">
                        <img src="~/Content/images/resources/video-gallery-bg.jpg" alt="Awesome Image">
                        <div class="icon-holder">
                            <div class="icon">
                                <div class="inner text-center">
                                    <a class="html5lightbox wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms" title="Woteen Video Gallery" href="https://www.youtube.com/watch?v=p25gICT63ek">
                                        <span class="flaticon-play-button"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Gallery Area-->
<!--Start services style1 area-->
<section class="services-style1-area secpd1">
    <div class="container">
        <div class="sec-title text-center">
            <h6>Our Services</h6>
            <div class="title">Don’t Let Anything Slow you Down</div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="service-carousel owl-carousel owl-theme">
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Full package</span>
                            <h3>TV, Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-television"></span></li>
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Sit back and relax </li>
                            <li>facilate your home </li>
                            <li>with the best.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>half package</span>
                            <h3>Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>The best and the fatest </li>
                            <li>speed for your mobiles &</li>
                            <li>personal computers.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Single deal</span>
                            <h3>Broadband Only</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Enjoy our fastesr and  </li>
                            <li>reliable internet on your</li>
                            <li>laptops and personal computers</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Full package</span>
                            <h3>TV, Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-television"></span></li>
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Sit back and relax </li>
                            <li>facilate your home </li>
                            <li>with the best.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>half package</span>
                            <h3>Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>The best and the fatest </li>
                            <li>speed for your mobiles &</li>
                            <li>personal computers.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Single deal</span>
                            <h3>Broadband Only</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Enjoy our fastesr and  </li>
                            <li>reliable internet on your</li>
                            <li>laptops and personal computers</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Full package</span>
                            <h3>TV, Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-television"></span></li>
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Sit back and relax </li>
                            <li>facilate your home </li>
                            <li>with the best.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>half package</span>
                            <h3>Broadband & Phone</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                            <li><span class="flaticon-call clr3"></span></li>
                        </ul>
                        <ul class="text">
                            <li>The best and the fatest </li>
                            <li>speed for your mobiles &</li>
                            <li>personal computers.</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                    <!--Start single service style1-->
                    <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Single deal</span>
                            <h3>Broadband Only</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-computer clr2"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Enjoy our fastesr and  </li>
                            <li>reliable internet on your</li>
                            <li>laptops and personal computers</li>
                        </ul>
                        <div class="button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--End single service style1-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End services style1 area-->
<!--Start fact counter area-->
<section class="fact-counter-area" style="background-image:url(~/Content/images/parallax-background/fact-counter-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <ul class="clearfix">
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="100ms">
                        <div class="count-box">
                            <h1>
                                <span class="timer" data-from="1" data-to="8705" data-speed="5000" data-refresh-interval="50">8705</span>
                            </h1>
                            <div class="title">
                                <h4>Connection provided</h4>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="200ms">
                        <div class="count-box">
                            <h1>
                                <span class="timer" data-from="1" data-to="480" data-speed="5000" data-refresh-interval="50">480</span>
                            </h1>
                            <div class="title">
                                <h4>phone users</h4>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="count-box">
                            <h1>
                                <span class="timer" data-from="1" data-to="626" data-speed="5000" data-refresh-interval="50">626</span>
                            </h1>
                            <div class="title">
                                <h4>tv channels</h4>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="400ms">
                        <div class="count-box">
                            <h1>
                                <span class="timer" data-from="1" data-to="9774" data-speed="5000" data-refresh-interval="50">9774</span>
                            </h1>
                            <div class="title">
                                <h4>Happy Customers</h4>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End fact counter area--> 
<!--Start Trusted Area-->
<section class="trusted-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="trusted-image-box">
                    <img src="~/Content/images/resources/trusted.jpg" alt="Awesome Image">
                </div>
            </div>
            <div class="col-xl-4">
                <div class="trusted-content-box">
                    <div class="sec-title">
                        <h6>trusted company</h6>
                        <div class="title">We are Trusted by More<br> than 8900 Customers</div>
                    </div>
                    <div class="inner-content">
                        <p>Our team of customer-oriented, experienced staff helps us complete our vision and mission. Our staffs are dedicated to quality in their work. Our customers stay with us for the long-term due to the speed and reliability of our Internet service and the customer-oriented commitment of our staff.</p>
                        <a class="btn-one" href="about.html">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Trusted Area-->  
<!--Start slogan area style2-->
<section class="slogan-area-style2 text-center" style="background-image:url(~/Content/images/parallax-background/slogan-bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content fix wow fadeInUp" data-wow-delay="100ms">
                    <div class="icon-holder">
                        <a class="wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms" title="" href="#">
                            <span class="flaticon-modem"></span>
                        </a>
                    </div>
                    <h3>New to Nexus Broadband?</h3>
                    <div class="title">
                        <h1>Speak to Our Specialists and We'll Help you Choose the Broadband and Phone Package to Suit Your Needs</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area style2-->
<!--Start Package Area-->
<section class="package-area">
    <div class="container">
        <div class="sec-title text-center">
            <h6>broadband and landline packages</h6>
            <div class="title">Unlimited Broadband & Landline Packages</div>
        </div>
        <div class="row">
            <!--Start Single Package Item-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-package-item text-center">
                    <div class="value">
                        <h1>$350.00</h1>
                        <span>per month</span>
                    </div>
                    <ul class="icon-holder">
                        <li><span class="flaticon-television clr1"></span></li>
                        <li><span class="flaticon-computer clr2"></span></li>
                    </ul>
                    <div class="details-box">
                        <ul class="single-box">
                            <li class="top">Full House TV</li>
                            <li>230 amazing channels in</li>
                            <li>4K Ultra HD</li>
                        </ul>
                        <ul class="single-box">
                            <li class="top clr2">Nexus Broadband</li>
                            <li>Up to 108Mbps average</li>
                            <li>download speed</li>
                        </ul>
                    </div>
                    <div class="button">
                        <a class="btn-one" href="#">Start Your Order</a>
                    </div>
                </div>
            </div>
            <!--End Single Package Item-->
            <!--Start Single Package Item-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-package-item text-center">
                    <div class="value">
                        <h1>$75.00</h1>
                        <span>per month</span>
                    </div>
                    <ul class="icon-holder">
                        <li><span class="flaticon-call clr3"></span></li>
                    </ul>
                    <div class="details-box">
                        <ul class="single-box">
                            <li class="top">Full House Landline</li>
                            <li>Amazing voice go through without any noise</li>
                            <li>With best support</li>
                        </ul>
                        <ul class="single-box">
                            <li class="top clr2">Nexus Landline</li>
                            <li>Best Connection</li>
                            <li>Non stop</li>
                        </ul>
                    </div>
                    <div class="button">
                        <a class="btn-one" href="#">Start Your Order</a>
                    </div>
                </div>
            </div>
            <!--End Single Package Item-->
            <!--Start Single Package Item-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-package-item text-center">
                    <div class="value">
                        <h1>$500.00</h1>
                        <span>per month</span>
                    </div>
                    <ul class="icon-holder">
                        <li><span class="flaticon-television clr1"></span></li>
                        <li><span class="flaticon-computer clr2"></span></li>
                        <li><span class="flaticon-call clr3"></span></li>
                    </ul>
                    <div class="details-box">
                        <ul class="single-box">
                            <li class="top">Full House TV</li>
                            <li>300 amazing channels in</li>
                            <li>4K Ultra HD</li>
                        </ul>
                        <ul class="single-box">
                            <li class="top clr2">Nexus Broadband and Landline</li>
                            <li>Up to 362Mbps average</li>
                            <li>download speed and best landline connection</li>
                        </ul>
                    </div>
                    <div class="button">
                        <a class="btn-one" href="#">Start Your Order</a>
                    </div>
                </div>
            </div>
            <!--End Single Package Item-->
        </div>
    </div>
</section>
<!--End Package Area-->
<!--Start Faq Content Area-->
<section class="faq-content-area">
    <div class="container">
        <div class="sec-title text-center">
            <h6>frequently asked question</h6>
            <div class="title">TV, Broadband and Phone FAQS</div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="faq-image-box">
                    <img src="~/Content/images/resources/faq-image.jpg" alt="Awesome Image">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="faq-content-box">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="accord-btn"><h4>Can I use the modem/router I already have?</h4></div>
                            <div class="accord-content">
                                <p>Yes you can use the existing modem or router you have</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="accord-btn active"><h4>Will speeds go up and down?</h4></div>
                            <div class="accord-content collapsed">
                                <p>No speed will remain same untill we have the some issue and we'll notify when we are facing any issue</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block last-child wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="accord-btn"><h4>I already have broadband, how do I switch?</h4></div>
                            <div class="accord-content">
                                <p>Disconnect the old service and contact us we'll send our agnet to your place</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Faq Content Area-->
<!--Start Discover Area-->
<section class="discover-area">
    <div class="discover">
        <div class="image-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="~/Content/images/resources/discover-1.jpg" alt="Awesome Image">
        </div>
        <div class="title-box wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
            <div class="bg-image">
                <img src="~/Content/images/resources/discover-bg-1.jpg" alt="Bg Image">
                <div class="overlay">
                    <div class="inner">
                        <div class="title">
                            <h1>Fantastic<br> Broadband<br> and TV Deals</h1>
                            <a class="btn-one" href="#">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="~/Content/images/resources/discover-2.jpg" alt="Awesome Image">
        </div>
        <div class="title-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
            <div class="bg-image">
                <img src="~/Content/images/resources/discover-bg-2.jpg" alt="Bg Image">
                <div class="overlay">
                    <div class="inner">
                        <div class="title">
                            <h1>Get Unlimited<br> Nexus Extra<br> Package</h1>
                            <a class="btn-one style2" href="#">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Discover Area-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>

